/*
===============================================
EZ Copy Grouping
===============================================
*/

/*----------------------------------------
EZ Copy Sub Grouping
----------------------------------------*/

/*
===============================================
Global Variables, Tidying, and Base Styles
===============================================
*/

/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-gray: #596770; 
    --main-blue: #84C0C6;
    --main-red: #49111C;
    --main-orange: #EB5E28;
    --main-yellow: #FAF2A1;
    --main-black: #000000;

    /* -50% colors */ 
    --main-gray-dark: #2C3337; 
    --main-blue-dark: #346C72;
    --main-red-dark: #25090E;
    --main-orange-dark: #7E2C0C;
    --main-yellow-dark: #C4B50A;
  }

/* Reset all padding */
* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

/* The calculation is the following 
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/*----------------------------------------
1200px / 16px = 75em 
----------------------------------------*/

@media (max-width: 75em) {
    html {
      font-size: 64%;
    }
  }
 
/*----------------------------------------
980px / 16px = 61.25em 
----------------------------------------*/
  @media (max-width: 61.25em) {
    html {
      font-size: 58%; 
    }
  }

/*----------------------------------------
460px / 16px = 28.75em 
----------------------------------------*/
  @media (max-width: 28.75em) {
    html {  
      font-size: 55%;
    }
  }

/* Base styles */
body {
    display: block;
    font-family: sans-serif;
    font-size: .75rem; /* 12px */
    font-weight: 400;
    line-height: 1;
    color: var(--main-blue-dark);
    height: 100vh;
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-black);
  }
  
  img {
    display: block;
    width: 100%;
  }




/*
===============================================
Classes  .
===============================================
*/

/*----------------------------------------
General Classes
----------------------------------------*/
.container {
  width: 80vw;
}


/*----------------------------------------
Header Classes
----------------------------------------*/
.mainLogoText {
  max-height:100%;
  display: flex;
  justify-content: flex-start;
  margin-left:5vw;
  width: 60vw;
}

.mainLogoText > a {
  display: flex;
  font-size: 3.2rem;
  align-items: center;
  text-align: center;
  color: var(--main-white);
}

/*----------------------------------------
Home Page Classes
----------------------------------------*/

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);
  /*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);*/
}

.welcome-section p {
    font-size: 2rem;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);

}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);
}


/*----------------------------------------
Blog Post Classes
----------------------------------------*/
.blog-post-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vh 0 1vh 0;
  background-color: var(--main-blue);
  padding-top: 10vh;
  /*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}

.blog-post-title{
  max-height:100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  color:var(--main-black);
  font-size: 6rem;
}

.blog-post-author {
  max-height:100%;
  display: flex;
  text-align: right;
  color:var(--main-black);
  font-size: 1rem;
}

.blog-post-text p{
  max-height:100%;
  justify-content:flex-start;
  color:var(--main-black);
  font-size: 2rem;
}

/*
===============================================
ID's  #
===============================================
*/




/*
===============================================
Element 
===============================================
*/

header {
  display: flex;
  position: fixed;
  width: 100% !important;
  height: 10vh;
  background: var(--main-gray-dark);
  box-shadow: 0 1vh 0 rgba(89, 103, 112, 0.4);

}

nav {
  display: flex;
  justify-content: flex-end;
  width: 40vw;
  top: 0;
  left: 0;
  z-index: 10;

}

nav ul{
  display: flex;
  margin-right: 2rem;  
}
nav ul a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: var(--main-white);
}

footer {
  display: flex;
  width: 100% !important;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background: var(--main-gray-dark);
  box-shadow: 0 -1vh 0 rgba(89, 103, 112, 0.4);
  box-shadow: 0;
  color: var(--main-white);
}

footer ul{
  display: flex;
  margin-right: 2rem;  
}

footer ul a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: var(--main-white);
}