/*
===============================================
Global Tidying and Styles
===============================================
*/

/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
  }

/* Reset all padding */
* {
  margin: 0;
  padding: 0;
}


/* The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

/* Base styles */

body {
    font-family: sans-serif;
    font-size: .75rem; /* 12px */
    font-weight: 400;
    line-height: 1;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-black);
  }
  
  img {
    display: block;
    width: 100%;
  }




/*
===============================================
Classes
===============================================
*/

#AboutMeSection {
    display: block;
    text-align: center;
}       


/*
===============================================
ID's
===============================================
*/

/*
===============================================
Element
===============================================
*/

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-color: 94C9CE;
  box-shadow: 0 2px 0 0;
  z-index: 20;
}

nav a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}