/*
===============================================
EZ Copy Grouping
===============================================
*/

/*----------------------------------------
EZ Copy Sub Grouping
----------------------------------------*/

/*
===============================================
Global Variables, Tidying, and Base Styles
===============================================
*/

/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-gray: #596770; 
    --main-blue: #84C0C6;
    --main-red: #49111C;
    --main-orange: #EB5E28;
    --main-yellow: #FAF2A1;
    --main-black: #000000;

    /* -50% colors */ 
    --main-gray-dark: #2C3337; 
    --main-blue-dark: #346C72;
    --main-red-dark: #25090E;
    --main-orange-dark: #7E2C0C;
    --main-yellow-dark: #C4B50A;

    /* -50% colors */ 
    --main-gray-light: #A9B3BA; 
    --main-blue-light: #C2E0E3;
    --main-red-light: #D75670;
    --main-orange-light: #F5AF94;
    --main-yellow-light: #FDF9D1;
  }

/* Reset all padding */
* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

/* The calculation is the following 
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/*----------------------------------------
1200px / 16px = 75em 
----------------------------------------

@media (max-width: 75em) {
    html {
      font-size: 64%;
    }
  }
 
/*----------------------------------------
980px / 16px = 61.25em 
----------------------------------------
  @media (max-width: 61.25em) {
    html {
      font-size: 58%; 
    }
  }

/*----------------------------------------
460px / 16px = 28.75em 
----------------------------------------
  @media (max-width: 28.75em) {
    html {  
      font-size: 55%;
    }
  }
*/

/* Base styles */
body {
    display: block;
    font-family: sans-serif;
    font-size: .75rem; /* 12px */
    font-weight: 400;
    line-height: 1;
    color: var(--main-blue-dark);
    height: 100vh;
    min-height: 100vh;
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-black);
  }
  
  img {
    display: block;
    width: 100%;
  }




/*
===============================================
Classes  .
===============================================
*/

/*----------------------------------------
General Classes
----------------------------------------*/
.container {
  width: 60vw;
  max-width: 1080px;
}

.page-body {
  min-height: 90vh;
  background-color: var(--main-blue-light);
}

/*----------------------------------------
Header Classes
----------------------------------------*/
.mainLogoText {
  max-height:100%;
  display: flex;
  justify-content: flex-start;
  margin-left:5vw;
  width: 60vw;
}

.mainLogoText > a {
  display: flex;
  font-size: 3.2rem;
  align-items: center;
  text-align: center;
  color: var(--main-white);
}

/*----------------------------------------
Home Page Classes
----------------------------------------*/

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);
  /*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);*/
}

.welcome-section p {
    font-size: 2rem;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);

}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--main-blue);
}

/*---------------------------------------
Blog Classes
---------------------------------------*/
.blog-post-list-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vh 0 1vh 0;
  background-color: var(--main-blue-light);
  padding-top: 10vh;
}

.blog-post-list-grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.blog-post-list-grid-section-title {
  display: flex;
  justify-content: center;
  padding: 5vh ;
  color:var(--main-black);
  font-size: 6rem; 
}

.blog-post-highlight {
  background: var(--gray);
  box-shadow: 10px 0px 15px 10px;
  border-radius: 20px;
}

.blog-post-grid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,0,0);
  font-size: 1.8rem; 
  font-weight: 400;
  line-height: 1.4;
  color: white;
  border-radius: 10px;
  border: 0.2rem solid #FFF;
}

/*----------------------------------------
Blog Post Classes
----------------------------------------*/
.blog-post-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vh 0 1vh 0;
  background-color: var(--main-blue-light);
  padding-top: 10vh;
  /*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}

.blog-post-title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  color:var(--main-black);
  width:100%; 
  padding-top: 5vh;
}

.blog-post-section hr {
  text-align: center;
  margin: auto;
}

.blog-post-title-section hr {
  text-align: center;
  margin-top: 2vh;
  width: 40vw;
  max-width: 1080px;
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 2px 0 0 0; 
  border-radius: 20px; 
}

.blog-post-title-section hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 2px 0; 
  border-radius: 20px; 
}

.blog-post-header-image {
  text-align: center;
  margin: auto;
  margin: 2vh 0vh 2vh 0vh;
}

.blog-post-title{
  /*display: flex;
  justify-content: center;
  padding: 5vh ;*/
  color:var(--main-black);
  font-size: 6rem; 
  position:absolute; 
  left:0;
  right:0;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  min-height: 11vh;
}
.blog-post-title:hover  {
  opacity: 5;
}

.blog-post-author {
  text-align: center;
  color:var(--main-black);
  font-size: 1rem;
  margin: auto;
  padding-bottom: 1rem;
}

.blog-post-text p{
  max-height:100%;
  justify-content:flex-start;
  color:var(--main-black);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/*
===============================================
ID's  #
===============================================
*/




/*
===============================================
Element 
===============================================
*/

/*----------------------------------------
General HTML Elements
----------------------------------------*/

hr {
  padding-bottom: 1rem;
}


.container a:link {
  color: blue;
}

/* visited link */
.container a:visited {
  color: var(--main-orange-dark);
}

/* mouse over link */
.container a:hover {
  color: var(--main-blue);
}

/* selected link */
.container a:active {
  color: var(--main-orange-light);
}



/*----------------------------------------
Header 
----------------------------------------*/

header {
  display: flex;
  position: fixed;
  width: 100% !important;
  height: 10vh;
  background: var(--main-gray-dark);
  box-shadow: 0 1vh 0 rgba(89, 103, 112, 0.4);
  z-index: 10;
}

/*----------------------------------------
Nav 
----------------------------------------*/

nav {
  display: flex;
  justify-content: flex-end;
  width: 40vw;
  top: 0;
  left: 0;

}

nav ul{
  display: flex;
  margin-right: 2rem;  
}
nav ul a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: var(--main-white);
}

/*----------------------------------------
Footer
----------------------------------------*/

footer {
  display: flex;
  width: 100% !important;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background: var(--main-gray-dark);
  box-shadow: 0 -1vh 0 rgba(169, 179, 186, 0.4);
  box-shadow: 0;
  color: var(--main-white);
}

footer ul{
  display: flex;
  margin-right: 2rem;  
}

footer ul a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: var(--main-white);
}